body {
  background-color: black;
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
}
.container {
  background-color: rgba(248, 189, 28, 0.911);
  width: 800px;
  max-width: 800px;
  height: 500px;
  margin: 82px auto;
  padding: 10px;
  border-radius: 1cap;
  text-align: center;
  color: black;
}
h1 {
  font-style: italic;
}

button {
  width: 25%;
  height: 80px;
  border-radius: 1cap;
  background-color: rgba(248, 189, 28, 0.911);
  border: 1px solid white;
  margin-top: 5cap;
}
button:hover {
  opacity: 0.5;
  transition: 200ms ease-out;
  color: white;
  border: 1px solid #000;
}
